In [115]:
import pandas as pd
import numpy as np

In [116]:
world=pd.read_csv('resources/world_population.csv')

In [117]:
world.columns

Index(['Rank', 'CCA3', 'Country/Territory', 'Capital', 'Continent',
       '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population', 'Area (km²)', 'Density (per km²)',
       'Growth Rate', 'World Population Percentage'],
      dtype='object')

In [ ]:
world.drop(['Rank', 'CCA3', '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population'], axis= 1, inplace= True)

In [ ]:
world.rename(columns={'Country/Territory': 'Country Name'}, inplace=True)

In [ ]:
world

In [119]:
pop_df = pd.read_csv("resources/pop.csv", skiprows=3)

In [120]:
pop_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 66'],
      dtype='object')

In [153]:
gdp_df = pd.read_csv("resources/gdp.csv", skiprows=3)
gdp_df.drop(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '2020', '2021'], axis =1, inplace = True)
gdp_df

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 66
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.961402,7.962872,5.882354,7.307693,8.203901,2.547144,...,3.366778,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,5.257856,0.635029,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-0.032630,0.114030,-1.963818,-0.387733,2.024488,4.298652,...,3.700190,0.770097,4.229408,4.039082,2.895728,2.485952,2.639537,2.610797,2.038299,NaN
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,NaN
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,6.600199,1.115355,2.708393,-1.167106,-0.311088,1.912227,...,4.852048,5.135584,6.108758,5.930450,2.745137,0.113687,2.305623,2.946175,3.190879,NaN
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-3.450099,0.991359,-5.838281,-23.983417,1.339363,15.000000,...,3.470000,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.319886,1.712195,5.340908,3.348804,5.916270,5.571757,4.825690,3.406631,4.756831,NaN
262,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,6.293494,8.207598,4.001966,6.721949,5.669371,...,-12.714897,2.392990,4.823519,-0.188690,-27.994546,-9.375124,-5.071796,0.752448,NaN,NaN
263,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-0.317760,-1.018245,-2.137033,1.233558,3.200000,3.100000,...,3.168556,2.396232,2.485468,1.413826,1.321862,0.664552,1.157947,1.522329,0.303453,NaN
264,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-0.481072,-0.036133,-1.730922,6.797274,-8.625442,2.897669,...,5.564602,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306,NaN
265,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,6.988553,5.531782,-9.015570,1.051459,9.235199,0.158026,...,14.620207,15.744877,3.196731,1.484543,2.023650,0.900955,4.080264,5.009867,-6.332446,NaN

In [122]:
# clean Population data
clean_pop = pop_df.drop(['Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1991', '1992','1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '1993','1994','2020', '2021',
       'Unnamed: 66'], axis=1, inplace=True)

In [155]:
population_df= pd.DataFrame(pop_df)
population_df.to_csv("Resources/population.csv")

In [130]:
Net_Migration =pd.read_csv("resources/Net Migration.csv", skiprows=4)

In [132]:
Net_Migration.drop(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '2020', '2021'], axis =1, inplace = True)

In [156]:
Net_Migration

In [160]:
Migration_df= pd.DataFrame(Net_Migration)
Migration_df.to_csv("Resources/Migration.csv")

In [149]:
nat_birth_rate =pd.read_csv("resources/Birth rate.csv", skiprows=4)
nat_birth_rate.drop(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '2020', ], axis =1, inplace = True)
nat_birth_rate

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Average
0,Aruba,ABW,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,18.662000,17.722000,16.443000,16.126000,15.431000,15.991000,...,12.246000,12.723000,13.316000,13.533000,12.428000,12.300000,11.530000,9.881000,9.138000,13.69353333
1,Africa Eastern and Southern,AFE,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,44.230719,43.842318,43.341677,42.966013,42.533294,42.485724,...,37.483987,36.921300,36.447151,36.028330,35.613326,35.189027,34.892547,34.611033,34.341460,39.32351044
2,Afghanistan,AFG,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,51.423000,51.788000,51.948000,52.038000,52.174000,52.073000,...,39.855000,40.009000,39.601000,39.105000,38.803000,37.936000,37.342000,36.927000,36.466000,45.32076667
3,Africa Western and Central,AFW,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,44.676194,44.474226,44.309324,44.168098,43.942691,43.730237,...,40.894235,40.416431,39.856506,39.335352,38.859210,38.393100,37.881661,37.447087,37.027834,41.79371494
4,Angola,AGO,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,51.344000,50.926000,50.374000,49.893000,49.550000,49.185000,...,44.364000,43.860000,43.282000,42.676000,42.020000,41.377000,40.810000,40.236000,39.725000,46.1967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,27.647000,26.355000,22.173000,21.327000,20.639000,20.894000,...,16.312000,16.399000,17.061000,14.950000,13.614000,12.848000,12.615000,12.094000,11.443000,18.35136667
262,"Yemen, Rep.",YEM,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,50.636000,50.021000,49.388000,48.668000,47.452000,46.071000,...,35.490000,35.125000,34.794000,34.428000,33.933000,33.348000,32.713000,32.305000,31.778000,39.3659
263,South Africa,ZAF,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,31.146000,30.127000,28.723000,27.866000,27.065000,26.457000,...,22.282000,22.353000,22.177000,22.057000,21.300000,20.250000,20.643000,21.137000,21.276000,23.2169
264,Zambia,ZMB,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,47.110000,47.118000,47.008000,47.084000,47.143000,47.048000,...,41.162000,40.352000,39.507000,38.584000,37.832000,37.242000,36.601000,36.040000,35.462000,43.15256667
265,Zimbabwe,ZWE,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,34.796000,34.412000,34.125000,33.142000,32.818000,32.625000,...,37.205000,36.804000,36.246000,35.122000,33.960000,33.171000,32.516000,32.074000,31.518000,34.6604

In [161]:
Natural_birth_rate_df= pd.DataFrame(nat_birth_rate)
Natural_birth_rate_df.to_csv("Resources/Natural_birth_rate.csv")

In [ ]:
population = pop_df
GDP = gdp_df
World = world

In [ ]:
# merge dataset
country = pd.merge(world, population, on='Country Name', how='left')
country = pd.merge(country, GDP, on='Country Name', how='left')

In [ ]:
country

In [ ]:
country_df = country.dropna()
country_df

In [ ]:
country_df.info()

top 50 countries based on individual year

In [ ]:
pd.concat([country_df, s.rename('index')], axis=1)

In [ ]:
country_df['new_col'] = range(1, len(country_df) + 1)

In [ ]:
country_df

In [ ]:
sort_country_df = country_df.sort_values(by= '1990',ascending= True)  
sort_country_df.head(10)

how to set index in ascending order