In [4]:
import pandas as pd

In [38]:
world=pd.read_csv('resources/world_population.csv')

In [39]:
world.columns

Index(['Rank', 'CCA3', 'Country/Territory', 'Capital', 'Continent',
       '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population', 'Area (km²)', 'Density (per km²)',
       'Growth Rate', 'World Population Percentage'],
      dtype='object')

In [41]:
world.drop(['Rank', 'CCA3', '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population'], axis= 1, inplace= True)

KeyError: "['Rank' 'CCA3' '2022 Population' '2020 Population' '2015 Population'\n '2010 Population' '2000 Population' '1990 Population' '1980 Population'\n '1970 Population'] not found in axis"

In [45]:
world.rename(columns={'Country': 'Country Name'}, inplace=True)

In [42]:
world

,Country,Capital,Continent,Area,Density,Growth Rate,World Population Percentage
0,Afghanistan,Kabul,Asia,652230,63.0587,1.0257,0.52
1,Albania,Tirana,Europe,28748,98.8702,0.9957,0.04
2,Algeria,Algiers,Africa,2381741,18.8531,1.0164,0.56
3,American Samoa,Pago Pago,Oceania,199,222.4774,0.9831,0.00
4,Andorra,Andorra la Vella,Europe,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...
229,Wallis and Futuna,Mata-Utu,Oceania,142,81.4930,0.9953,0.00
230,Western Sahara,El Aaiún,Africa,266000,2.1654,1.0184,0.01
231,Yemen,Sanaa,Asia,527968,63.8232,1.0217,0.42
232,Zambia,Lusaka,Africa,752612,26.5976,1.0280,0.25
233,Zimbabwe,Harare,Africa,390757,41.7665,1.0204,0.20

In [10]:
pop_df = pd.read_csv("resources/pop.csv", skiprows=3)
pop_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,567891875.0,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,NaN
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,NaN
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,NaN
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,NaN
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,NaN

In [11]:
gdp_df = pd.read_csv("resources/gdp.csv", skiprows=3)
gdp_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.429817,-0.020479,3.543630,2.116716,5.482371,5.257856,0.635029,-18.589100,17.172509,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,0.237304,7.984460,5.163873,4.583677,5.328044,...,4.229408,4.039082,2.895728,2.485952,2.639537,2.610797,2.038299,-3.042653,4.402447,NaN
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,-20.737146,NaN
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.835056,3.772898,7.282985,5.392705,4.056588,...,6.108758,5.930450,2.745137,0.113687,2.305623,2.946175,3.190879,-0.900382,3.965399,NaN
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.600000,1.100000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.340908,3.348804,5.916270,5.571757,4.825690,3.406631,4.756831,-5.340275,10.745612,NaN
262,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.823519,-0.188690,-27.994546,-9.375124,-5.071796,0.752448,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.844734,6.177931,7.373709,7.939609,6.122798,...,2.485468,1.413826,1.321862,0.664552,1.157947,1.522329,0.303453,-6.342471,4.913097,NaN
264,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.361382,-2.490839,3.272393,12.214048,16.647456,...,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306,-2.785055,4.598734,NaN
265,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,6.316157,1.434471,6.244345,-1.106172,4.910571,...,3.196731,1.484543,2.023650,0.900955,4.080264,5.009867,-6.332446,-7.816951,8.468017,NaN

In [25]:
# clean Population data
clean_pop = pop_df.drop(['2020', '2021',
       'Unnamed: 66'], axis=1, inplace=True)

In [27]:
gdp_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 66'],
      dtype='object')

In [28]:
# Clean Gdp Data
clean_gdp = gdp_df.drop(['Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '2020', '2021', 'Unnamed: 66'], axis =1, inplace = True)

In [26]:
pop_df.columns

Index(['Country Name', 'Country Code', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [29]:
gdp_df.columns

Index(['Country Name', 'Country Code', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [32]:
pop_df.describe()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,...,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02,2.650000e+02
mean,2.098278e+08,2.135356e+08,2.171880e+08,2.208192e+08,2.244211e+08,2.279961e+08,2.315714e+08,2.351344e+08,2.386732e+08,2.421788e+08,...,2.811623e+08,2.848634e+08,2.886995e+08,2.925870e+08,2.964856e+08,3.003545e+08,3.042155e+08,3.080704e+08,3.118393e+08,3.155191e+08
std,6.674312e+08,6.792168e+08,6.906788e+08,7.019841e+08,7.132145e+08,7.243661e+08,7.355189e+08,7.466429e+08,7.576611e+08,7.684913e+08,...,8.846952e+08,8.956593e+08,9.070053e+08,9.184860e+08,9.299558e+08,9.412781e+08,9.525129e+08,9.637185e+08,9.745580e+08,9.850384e+08
min,9.182000e+03,9.354000e+03,9.466000e+03,9.517000e+03,9.559000e+03,9.585000e+03,9.611000e+03,9.630000e+03,9.634000e+03,9.640000e+03,...,1.024100e+04,1.028300e+04,1.044400e+04,1.069400e+04,1.089900e+04,1.087700e+04,1.085200e+04,1.082800e+04,1.086500e+04,1.095600e+04
25%,1.040616e+06,1.070266e+06,1.084441e+06,1.097374e+06,1.112846e+06,1.122457e+06,1.150601e+06,1.179806e+06,1.209832e+06,1.240764e+06,...,1.567220e+06,1.609017e+06,1.652717e+06,1.697753e+06,1.743309e+06,1.788196e+06,1.777557e+06,1.791003e+06,1.797085e+06,1.788878e+06
50%,7.096194e+06,7.244891e+06,7.382050e+06,7.494800e+06,7.486091e+06,7.625357e+06,7.683115e+06,7.838250e+06,7.976789e+06,8.009587e+06,...,9.483836e+06,9.726380e+06,9.920362e+06,1.014958e+07,1.028212e+07,1.035808e+07,1.032545e+07,1.030030e+07,1.039533e+07,1.044767e+07
75%,4.787807e+07,4.993743e+07,5.201155e+07,5.217920e+07,5.192140e+07,5.151280e+07,5.105780e+07,5.059460e+07,5.014450e+07,4.967400e+07,...,5.927742e+07,5.937945e+07,5.953972e+07,6.023395e+07,6.078914e+07,6.073058e+07,6.062750e+07,6.053671e+07,6.042176e+07,5.987258e+07
max,5.293517e+09,5.382656e+09,5.470277e+09,5.556723e+09,5.642129e+09,5.726802e+09,5.811625e+09,5.896078e+09,5.979730e+09,6.062282e+09,...,6.969632e+09,7.053533e+09,7.140896e+09,7.229185e+09,7.317509e+09,7.404911e+09,7.491934e+09,7.578158e+09,7.661776e+09,7.742682e+09

In [33]:
gdp_df.describe()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,207.000000,217.000000,218.000000,221.000000,222.000000,224.000000,234.000000,234.000000,237.000000,238.000000,...,254.000000,254.000000,254.000000,254.000000,256.000000,255.000000,254.000000,254.000000,254.000000,252.000000
mean,3.425752,1.442649,1.627153,1.970313,2.231494,3.903634,4.829968,5.016156,3.499402,3.299939,...,4.543144,3.652564,3.097632,3.226863,3.435836,2.780353,3.093938,3.241299,3.132950,2.780237
std,6.718609,7.730023,8.181973,6.816768,7.307229,4.946079,7.824790,10.544877,4.839956,4.110674,...,4.199370,5.275147,7.526828,5.026172,3.795339,4.387179,3.562217,3.703032,2.855691,3.194262
min,-14.788226,-64.047107,-44.899999,-29.300002,-50.248067,-12.416322,-16.699998,-14.115382,-28.099980,-9.424162,...,-8.924176,-50.338515,-46.082122,-36.391977,-23.042806,-27.994546,-10.783238,-6.987578,-19.345011,-11.195695
25%,0.009606,-0.189281,-0.116799,-0.573681,1.024319,2.327407,2.216741,2.726723,2.181840,1.391880,...,2.184057,1.760914,0.845450,1.345844,1.613939,1.486545,1.668134,1.670856,1.802461,1.209229
50%,3.328818,1.801170,2.081645,2.181890,3.295334,3.914503,4.399788,4.416870,3.499999,3.324479,...,4.838207,3.919017,3.050890,3.432833,3.460544,2.976799,3.152686,3.188228,3.053736,2.558767
75%,5.395860,4.599987,5.472468,4.924690,5.367588,6.009119,6.192796,6.136615,5.116633,4.760184,...,6.795537,6.248735,5.388446,5.380807,5.304009,4.473250,4.687056,4.820804,4.888167,4.500000
max,57.817828,49.447379,34.745320,33.990468,21.221411,35.224078,88.957666,149.972963,34.857095,25.664015,...,25.122760,21.616529,86.826748,30.612245,26.562500,24.370445,29.212121,32.491802,8.579438,23.513791

In [43]:
population = pop_df
GDP = gdp_df
World = world

In [48]:
# merge dataset
country = pd.merge(world, population, on='Country Name', how='left')
country = pd.merge(country, GDP, on='Country Name', how='left')

problem here, don't know why it merged and created the years in 2

In [49]:
country

,Country Name,Capital,Continent,Area,Density,Growth Rate,World Population Percentage,Country Code_x,1990_x,1991_x,...,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019_y
0,Afghanistan,Kabul,Asia,652230,63.0587,1.0257,0.52,AFG,10694796.0,10745167.0,...,14.362441,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603
1,Albania,Tirana,Europe,28748,98.8702,0.9957,0.04,ALB,3286542.0,3266790.0,...,3.706938,2.545406,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.088063
2,Algeria,Algiers,Africa,2381741,18.8531,1.0164,0.56,DZA,25518074.0,26133905.0,...,3.600000,2.900000,3.400000,2.800000,3.800000,3.700000,3.200000,1.300000,1.200000,1.000000
3,American Samoa,Pago Pago,Oceania,199,222.4774,0.9831,0.00,ASM,47818.0,48992.0,...,0.299850,0.000000,-4.334828,-2.500000,1.762821,3.149606,-1.679389,-6.987578,2.671119,-0.487805
4,Andorra,Andorra la Vella,Europe,468,170.5641,1.0100,0.00,AND,53569.0,55434.0,...,-1.974958,-0.008070,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,2.015548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,Mata-Utu,Oceania,142,81.4930,0.9953,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,Western Sahara,El Aaiún,Africa,266000,2.1654,1.0184,0.01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,Yemen,Sanaa,Asia,527968,63.8232,1.0217,0.42,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,Zambia,Lusaka,Africa,752612,26.5976,1.0280,0.25,ZMB,7686401.0,7880466.0,...,10.298223,5.564602,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306
233,Zimbabwe,Harare,Africa,390757,41.7665,1.0204,0.20,ZWE,10113893.0,10377815.0,...,21.452061,14.620207,15.744877,3.196731,1.484543,2.023650,0.900955,4.080264,5.009867,-6.332446

In [52]:
country_df = country.dropna()
country_df

,Country Name,Capital,Continent,Area,Density,Growth Rate,World Population Percentage,Country Code_x,1990_x,1991_x,...,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019_y
1,Albania,Tirana,Europe,28748,98.8702,0.9957,0.04,ALB,3286542.0,3266790.0,...,3.706938,2.545406,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.088063
2,Algeria,Algiers,Africa,2381741,18.8531,1.0164,0.56,DZA,25518074.0,26133905.0,...,3.600000,2.900000,3.400000,2.800000,3.800000,3.700000,3.200000,1.300000,1.200000,1.000000
4,Andorra,Andorra la Vella,Europe,468,170.5641,1.0100,0.00,AND,53569.0,55434.0,...,-1.974958,-0.008070,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,2.015548
5,Angola,Luanda,Africa,1246700,28.5466,1.0315,0.45,AGO,11828638.0,12228691.0,...,4.860000,3.470000,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000
7,Antigua and Barbuda,Saint John’s,North America,442,212.1335,1.0058,0.00,ATG,63328.0,63634.0,...,-7.840595,-1.958613,3.372866,-0.600876,3.795728,3.825293,5.496459,3.144323,6.883641,4.862236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Uzbekistan,Tashkent,Asia,447400,77.3975,1.0160,0.43,UZB,20510000.0,20952000.0,...,7.597168,7.525140,7.102445,7.296550,6.873838,7.218774,5.932151,4.395275,5.354997,5.709632
225,Vanuatu,Port-Vila,Oceania,12189,26.8061,1.0238,0.00,VUT,150882.0,154678.0,...,1.258867,3.139803,1.010048,0.463390,3.136867,0.366522,4.688756,6.317305,2.900230,3.241188
228,Vietnam,Hanoi,Asia,331212,296.4472,1.0074,1.23,VNM,66912613.0,68358820.0,...,6.423238,6.413178,5.504546,5.553500,6.422247,6.987167,6.690009,6.940188,7.464991,7.359281
232,Zambia,Lusaka,Africa,752612,26.5976,1.0280,0.25,ZMB,7686401.0,7880466.0,...,10.298223,5.564602,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306
233,Zimbabwe,Harare,Africa,390757,41.7665,1.0204,0.20,ZWE,10113893.0,10377815.0,...,21.452061,14.620207,15.744877,3.196731,1.484543,2.023650,0.900955,4.080264,5.009867,-6.332446

In [55]:
clean_country = country_df.drop(['Country Code_y', '1990_y', '1991_y', '1992_y',
       '1993_y', '1994_y', '1995_y', '1996_y', '1997_y', '1998_y', '1999_y',
       '2000_y', '2001_y', '2002_y', '2003_y', '2004_y', '2005_y', '2006_y',
       '2007_y', '2008_y', '2009_y', '2010_y', '2011_y', '2012_y', '2013_y',
       '2014_y', '2015_y', '2016_y', '2017_y', '2018_y', '2019_y'], axis=1, inplace=True)

c:\Users\Atake\anaconda4\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Need to filter based on population but i have two sets of population data